header {  
    text-align:center;
  }
body{
    background-color: #0d1117;
}

p,h1 {
    color:#ffffff;
}

p {
    font-size : 110%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

div {
    line-height : 1.4;
}
